/* CSS Document */


/* BASE STYLES (MOBILE) */

/*GREEN > "Phthalo Green" > #1A3313 > 'DARK, BACKGROUND OR TEXT'*/
/*DARK GREEN > "SMOKY BLACK" > #080E06 > 'FOOTER'*/
/*RED > "Crimson" > #DB162F > 'BOLD, LINKS/NAV OR TITLES'*/
/*LIGHT GREEN/YELLOW > "PALE GOLDENROD" > #DBDFAC > 'LIGHT, SECONDARY BACKGROUNDS OR TITLES'*/
/*OFF-WHITE > "ANTI-FLASH WHITE" > #F0F2F4 > 'LIGHT, TITLES, TEXT'*/
/*PURPLE > "DEEP KOAMARU" > #383961 > 'DARK, STROKE, OUTLINE, VISITED LINKS'*/
/*GRAY > "SILVER" > #C0C7BE > 'FOOTER TEXT'*/

/* TESTING STYLES */
/**{border: 1px red dashed;}*/

/*UNIVERSAL STYLES*/
* {
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	box-sizing: border-box;
}
body {
	color: #1A3313;
	background-color: #F0F2F4;
	font-size: 16px;
	font-weight: 400;
	font-kerning: normal;
	min-height: 100%;
	position: relative;
	margin-bottom: 108px;
	height: 100%;
	font-family: 'Overpass', sans-serif;
	width:100%;
}

h1, h2, h3 {
	color: #DB162F;
	padding: 5px;
	margin-bottom: 0px;
}
h1 {
	font-size: 2em;
	font-weight: 900;
	padding-top: 25px;
}
h2 {
	font-size: 1.5em;
	font-weight: 700;
}
h3 {
	font-size: 1.25em;
}
p {
	padding: 1.5em;
	margin-top: 0px;
	padding-top: 10px;
}
form {

}

.base_container{
	width: 100%;
	min-width: 320px;
}
.main-header {
	text-align: center;
	margin: 0;
}
.main-footer {
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	position: absolute;
	right: 0;
	left: 0;
	background-color: #1A3313;
	color: #C0C7BE;
	min-width: inherit;
	padding-bottom: 140px;
}
a:link {
	color: #DB162F;
	text-decoration: underline;
	text-decoration-style: double;
	font-weight: bold;
}
a:visited {
	color: #383961;
	text-decoration-style: solid;
	font-weight:100;
	font-style: italic;
}
#btn_submit {
	background-color: #383961;
	color: #F0F2F4;
	border: 2px solid #DB162F;
	border-radius: 10px;
	box-shadow: 0px 9px 25px rgba(0,0,0,.7);
	line-height: 1.5em;
	font-weight: bold;
	font-size: 1.5em;

}

#btn_signup_submit {
	background-color: #1A3313;
	color: #F0F2F4;
	border: none;
	box-shadow: 0px 7px 15px rgba(0,0,0,.6);
	line-height: 1.15em;
	font-weight: bold;
	padding: 3.5px 3.5px;

}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex: 1;
}
.nav-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-content: stretch;
	align-items: stretch;
	z-index: 999;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	flex-direction: row-reverse;
	padding: 10px 0;
}

.nav-container ul li {
	list-style: none;
	display: inline;
}
.nav-container li a {
	text-decoration: none;
	font-size: 1.15em;
	color: #DB162F;
	font-weight: 900;
	padding: 15px 3px;
}
#primary-menu-link {
	color: #C0C7BE;
	padding-left: 10px;
	align-self: flex-end;
}
.sub-header {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 25px;
}
.color-box {

	background-color: #080E06;
}
.contact-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em;
	min-height: 100%;
	position: relative;
	padding-bottom: 85px;
}
.contact-form {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	max-width: 225px;
	padding: 5px;
}

.email_signup_form {
	display: flex;
	justify-content: flex-end;
	align-content: center;
	flex-direction: row;
	padding: 5px 10px;
	margin-top: -5px;
	align-items: stretch;
	background: none;
	flex-wrap: wrap;
	
}

.email_signup_form input[type="email"]{
	background-color: #F0F2F4;
	margin-right: 30px;
	padding: 10px;
	
}
.email_signup_tag{
	font-style: italic;
	font-weight: 100;
	font-size: .85em;
	padding: 6.5px;
	}

#current{
	text-decoration: solid underline #F0F2F4;
}

.strong {
	font-weight: bold;
}
.form-header {
}
#form_name {
}
#form_email {
}
#id_contact_form {
}
form>span {
	font-weight: bold;
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
	background: rgba(255,255,255,0.1);
	border: none;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #FCFDFD;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.07) inset;

}


/*MEDIA QUERIES*/

#bolder-damnit {
	/*	INTERESTING STROKE FOR HIGHER RESOLUTIONS*/
	text-shadow: -.4px -.4px 0 #080E06, .4px -.4px 0 #080E06, -.4px .4px 0 #080E06, .4px .4px 0 #080E06 !important;
}

/*
--popout menu for desktop--

.reference {
  position: relative;
}
.popout-menu {
  position: absolute;
  visibility: hidden;
  left: 100%;
}
.reference:hover > .popout-menu {
  visibility: visible;
}
*/
