@charset "utf-8";
/* CSS Document */

/*PALETTE 1
RED-PRIME: #e30022
		rgba(227,0,34,1)
BLUE-PRIME: #03012C
		rgba(3,1,44,1)
GOLD-PRIME: #FFBF00
		rgba(255,191,0,1)
WHITE-PRIME: #FFFFFC
        rgba(255,255,252,1) 
		
		
*/
/*PALETTE 2
RED-PRIME/"RED PIGMENT": #FF0A2B
		rgba(255,10,43,1)
BLUE-PRIME/"SPANISH BLUE": #016FB9
		rgba(1,111,185,1)
YELLOW-PRIME/"MIDDLE YELLOW": #FFE900
		rgba(255,233,0,1)
WHITE-PRIME/"BABY POWDER": #FCFFF7
        rgba(252,255,247,1) 
DARK-BROWN/"RAISIN BLACK": #201817
		rgba(32,24,23,1)
TAUPE/"BONE": #E8DAC4
		rgba(232,218,196,1)
LIGHT-BROWN/"SHADOW": #82735C
		rgba(130,115,92,1)
SILVER/"CULTURED": #EAEBED
		rgba(234,235,237,1)				
*/

/*
PALETTE 3
PINK:	#ed4564
		0,71,58,7,100
		237,69,100
		
YELLOW:	#ffff00
		0,0,100,0
		237,237,0

BLUE:   #52b2db
		63,19,0,14,100
		82,178,219

BROWN:	#261605
		0,42,87,85,100
		38,22,5

*/

@font-face {
	font-family: 'thoughtful';
	src: url('/fonts/thoughtful.woff2') format('woff2'),
		 url('/fonts/thoughtful.woff') format('woff');
		 font-weight: normal;
}

@font-face {
	font-family: 'thoughtful';
	src: url('/fonts/thoughtful_bold.woff2') format('woff2'),
		 url('/fonts/thoughtful_bold.woff') format('woff');
	font-weight: bold;
}


@font-face {
	font-family: 'thoughtful';
	src: url('/fonts/thoughtful_light.woff2') format('woff2'),
		 url('/fonts/thoughtful_light.woff') format('woff');
	font-weight: lighter;
}

@font-face {
	font-family: 'thoughtful';
	src: url('/fonts/thoughtful_italic.woff2') format('woff2'),
		 url('/fonts/thoughtful_italic.woff') format('woff');
	/* font-weight: normal; */
	font-style: italic;
}


*{
	/* font-family: "thoughtful", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif"; */
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin: 0;
	padding: 0;
	
}

@media screen and (min-width: 320px) {
	
body{
	background-color: #ffff00;
	/* font-size: large; */
    /* background-color: rgba(130,115,92,1); */
/*	background-image: url("../img/dark-honeycomb.png");*/
	/* background-image: url("../img/light_grey.png"); */
    /* background-image: url(../img/merely_cubed.png); */
    /* background-image: url(../img/vaio_hard_edge.png); */
    /* background-image: url(../img/diagonal_striped_brick.png); */
    /* background-image: url(../img/diagonal_waves.png); */
    /* background-image: url(../img/kindajean.png);
	background-repeat: repeat; */
/*	background-color: rgba(216,180,160,.45);*/
/*  background-color: rgba(239,241,243,.2);WHITE: #EFF1F3*/
	/* background-blend-mode:overlay; */
}
h1, h2, h3, h4, h5, h6{
	font-family: 'thoughtful', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #261605;
	/* text-shadow:
	 -1px -1px 0 #ed4564,  
	  1px -1px 0 #ed4564,
	  -1px 1px 0 #ed4564,
	   1px 1px 0 #ed4564; */
	margin-bottom: -5px;
	margin-left: 5px;
	text-align: left;
}

h2{
	font-size: 4rem;
	margin-bottom: -40px;
}
/*
hr.divider{
	margin: 0px 0px 25px 0px;
	border-top: inset 5px #AA7BC3;
	border-bottom: outset 1px #C7EF00;
}
*/

.slash-2 {
  height: 3px;
  color: #ed4564;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3px'  height='3px'  viewBox='0 0 3 3'  fill='%23AA7BC3'%3E %3Cpolygon points='0 0.5 0 1.5 1.5 3 2.5 3'/%3E%3Cpolygon points='2.5 0 1.5 0 3 1.5 3 0.5'/%3E%3C/svg%3E");
  background-size: 8px 6px;
  width: 100%;
  padding-bottom: 15px;
  height: 10px;
}
.grid-container-home-cat{
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
	grid-gap: 25px;
	justify-items: center;
	margin: 30px 0px;

}

.grid-container-home-cat-item{
    background-color: rgba(255,233,0,.8);
    height: 190px;
    width: 190px;
}

.cat-text{
    background-color: #201817;
    color: #fcfff7;
    font-weight: bolder;
    font-size: 18px;
    line-height: 25px;
    padding: 5px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5%;
    border: 1px solid #fff;
    width: 140px;
    text-align: center;
}
.grid-container-icons{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 2px;
	margin: 20px 0px;
}
.grid-container-icons-item{
	background-color: rgba(255,233,0,.2);
	border-radius: 15%;
}

.grid-container-purchase{
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto;
	grid-gap: 20px;
	justify-items: center;
	margin: 20px 0px;

}
.grid-container-purchase-item{
/*
	background-color: rgba(199,239,0,.2);
	border-radius: 15%;
*/
}
.container {
	width: 100%;
/*
	padding-right: 15px;
	padding-left: 15px;
*/
	margin-right: auto;
	margin-left: auto;
/*
	max-width: 1300px;
	overflow: hidden;
*/
}
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
/*
	margin-right: -15px;
	margin-left: -15px;
*/
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	
}

.iconRow{
	display: flex;
	justify-content: space-evenly;
}
.pricingRow{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 30px;
	padding: 20px;
}
.flex-container{
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
	justify-content: space-around;
	align-items: center;
/*
	justify-content: flex-start;
	align-items: center;
*/
	
}
.navigation{
	background-color: #52b2db; 
	color: #261605;
	text-align: center;
	margin-bottom: 15px;
	text-transform: lowercase;
	font-size: 2rem;
}

.navigation a{
	font-family: 'thoughtful', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: #261605;
	text-transform: lowercase;
	font-weight: bold;
	text-decoration-style: double ;
	font-size: 4rem;

}

.navigation h1{
	color:#FFFFFC;
}

li.navListItem{
	list-style-type: none;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
.copyRightfooter{
	background-color: #261605;
	color: #FFFFFC;
	text-align: center;
	padding: 20px;
}

.heroImg{
	margin-bottom: 15px;
}

.productTitle{
	color: #52b2db;
}
.flavorsTitle{
	color: #52b2db;
	text-align: center;
}
.price{
/*	background-color: #EFF1F3;*/
	background-color: #261605;
/*	color: #d00000;*/
	color: #FFFFFC;
	font-weight: bolder;
	font-size: 35px;
	line-height: 25px;
	padding: 10px;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 5%;
	border: 1px solid #fff;

}
/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: 35px;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
/*	margin: 15px 30px;*/
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
		
	line-height: 25px;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.qtyBtn{
	background-color: rgba(255,233,0,1);
	color: #fcfff7;
	border-radius: 5%;
	border: 1px solid #fff;
	padding: 10px;
	font-size: 35px;
	line-height: 25px;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
/*
	width: 50px;
	height: 50px;
*/
}
.quantBuyBtn{
	background-color: #016fb9;
	color: #fff;
	border-radius: 5%;
	border: 1px dashed #fff;
/*
	padding: 15px;
	margin-right: 20px;
*/
	font-size: 35px;
	line-height: 25px;
	box-shadow: 
		0 8px 8px 0 rgba(0,0,0,0.4), 
		0 6px 20px 0 rgba(0,0,0,0.19), 
		0px -4px 4px 3px rgba(255,255,255,.4) inset;
	width: 50px;
	height: 50px;
}
/* Button 2 */
.btn-2 {
	background: rgba(81,152,114,.7);
	color: #fff;
	box-shadow: 0 4px rgba(81,152,114,1);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
/* Button 2j */
.btn-2j {
	border-radius: 5%;
	width: 45px;
	height: 45px;
	padding: 0;
	border: 1px solid #fff;
}

.btn-2j:hover {
	box-shadow: 0 8px rgba(81,152,114,1);
	top: -2px;
}

.btn-2j:active {
	box-shadow: 0 0 rgba(81,152,114,1);
	top: 6px;
}

.iconImg{
	height: 60px;
	width: 60px;
	padding: 10px;
	margin-left: 5px;
	margin-top: 5px;
}

.productDescription{
	margin-bottom: 15px;
	padding: 20px;
}

.ingredients{
	margin-bottom: 15px;
	padding: 20px;
}

.ingredients ul{
	padding-left: 25px;
}
.ingredients ul li{
	list-style: square;
}
.disclaimer{
	margin-bottom: 15px;
	padding: 20px;
}

.logo{
	margin: auto;
	width: 50%;
	height: 50%;
	padding: 15px 0;
}


.findUs{
	/* background-image: url(<svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 300" version="1.1" xmlns="http://www.w3.org/2000/svg">
	<defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(82, 178, 219, 1)" offset="0%"></stop><stop stop-color="rgba(255, 255, 255, 1)" offset="100%"></stop>
	</linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,210L34.3,185C68.6,160,137,110,206,100C274.3,90,343,120,411,135C480,150,549,150,617,135C685.7,120,754,90,823,95C891.4,100,960,140,1029,155C1097.1,170,1166,160,1234,135C1302.9,110,1371,70,1440,90C1508.6,110,1577,190,1646,210C1714.3,230,1783,190,1851,190C1920,190,1989,230,2057,215C2125.7,200,2194,130,2263,100C2331.4,70,2400,80,2469,95C2537.1,110,2606,130,2674,150C2742.9,170,2811,190,2880,175C2948.6,160,3017,110,3086,95C3154.3,80,3223,100,3291,120C3360,140,3429,160,3497,185C3565.7,210,3634,240,3703,230C3771.4,220,3840,170,3909,165C3977.1,160,4046,200,4114,180C4182.9,160,4251,80,4320,45C4388.6,10,4457,20,4526,25C4594.3,30,4663,30,4731,35C4800,40,4869,50,4903,55L4937.1,60L4937.1,300L4902.9,300C4868.6,300,4800,300,4731,300C4662.9,300,4594,300,4526,300C4457.1,300,4389,300,4320,300C4251.4,300,4183,300,4114,300C4045.7,300,3977,300,3909,300C3840,300,3771,300,3703,300C3634.3,300,3566,300,3497,300C3428.6,300,3360,300,3291,300C3222.9,300,3154,300,3086,300C3017.1,300,2949,300,2880,300C2811.4,300,2743,300,2674,300C2605.7,300,2537,300,2469,300C2400,300,2331,300,2263,300C2194.3,300,2126,300,2057,300C1988.6,300,1920,300,1851,300C1782.9,300,1714,300,1646,300C1577.1,300,1509,300,1440,300C1371.4,300,1303,300,1234,300C1165.7,300,1097,300,1029,300C960,300,891,300,823,300C754.3,300,686,300,617,300C548.6,300,480,300,411,300C342.9,300,274,300,206,300C137.1,300,69,300,34,300L0,300Z"></path>
	<defs><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(237, 69, 100, 1)" offset="0%"></stop>
	<stop stop-color="rgba(237, 69, 100, 1)" offset="100%"></stop></linearGradient></defs>
	<path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)" d="M0,180L34.3,165C68.6,150,137,120,206,125C274.3,130,343,170,411,160C480,150,549,90,617,75C685.7,60,754,90,823,90C891.4,90,960,60,1029,60C1097.1,60,1166,90,1234,100C1302.9,110,1371,100,1440,80C1508.6,60,1577,30,1646,60C1714.3,90,1783,180,1851,205C1920,230,1989,190,2057,155C2125.7,120,2194,90,2263,75C2331.4,60,2400,60,2469,95C2537.1,130,2606,200,2674,220C2742.9,240,2811,210,2880,165C2948.6,120,3017,60,3086,50C3154.3,40,3223,80,3291,125C3360,170,3429,220,3497,240C3565.7,260,3634,250,3703,215C3771.4,180,3840,120,3909,80C3977.1,40,4046,20,4114,45C4182.9,70,4251,140,4320,145C4388.6,150,4457,90,4526,95C4594.3,100,4663,170,4731,190C4800,210,4869,180,4903,165L4937.1,150L4937.1,300L4902.9,300C4868.6,300,4800,300,4731,300C4662.9,300,4594,300,4526,300C4457.1,300,4389,300,4320,300C4251.4,300,4183,300,4114,300C4045.7,300,3977,300,3909,300C3840,300,3771,300,3703,300C3634.3,300,3566,300,3497,300C3428.6,300,3360,300,3291,300C3222.9,300,3154,300,3086,300C3017.1,300,2949,300,2880,300C2811.4,300,2743,300,2674,300C2605.7,300,2537,300,2469,300C2400,300,2331,300,2263,300C2194.3,300,2126,300,2057,300C1988.6,300,1920,300,1851,300C1782.9,300,1714,300,1646,300C1577.1,300,1509,300,1440,300C1371.4,300,1303,300,1234,300C1165.7,300,1097,300,1029,300C960,300,891,300,823,300C754.3,300,686,300,617,300C548.6,300,480,300,411,300C342.9,300,274,300,206,300C137.1,300,69,300,34,300L0,300Z"></path>
	<defs><linearGradient id="sw-gradient-2" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(255, 255, 0, 1)" offset="0%"></stop><stop stop-color="rgba(255, 255, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 100px); opacity:0.8" fill="url(#sw-gradient-2)" d="M0,240L34.3,200C68.6,160,137,80,206,55C274.3,30,343,60,411,65C480,70,549,50,617,80C685.7,110,754,190,823,230C891.4,270,960,270,1029,235C1097.1,200,1166,130,1234,85C1302.9,40,1371,20,1440,10C1508.6,0,1577,0,1646,40C1714.3,80,1783,160,1851,205C1920,250,1989,260,2057,235C2125.7,210,2194,150,2263,110C2331.4,70,2400,50,2469,40C2537.1,30,2606,30,2674,40C2742.9,50,2811,70,2880,100C2948.6,130,3017,170,3086,200C3154.3,230,3223,250,3291,230C3360,210,3429,150,3497,105C3565.7,60,3634,30,3703,55C3771.4,80,3840,160,3909,175C3977.1,190,4046,140,4114,140C4182.9,140,4251,190,4320,180C4388.6,170,4457,100,4526,95C4594.3,90,4663,150,4731,155C4800,160,4869,110,4903,85L4937.1,60L4937.1,300L4902.9,300C4868.6,300,4800,300,4731,300C4662.9,300,4594,300,4526,300C4457.1,300,4389,300,4320,300C4251.4,300,4183,300,4114,300C4045.7,300,3977,300,3909,300C3840,300,3771,300,3703,300C3634.3,300,3566,300,3497,300C3428.6,300,3360,300,3291,300C3222.9,300,3154,300,3086,300C3017.1,300,2949,300,2880,300C2811.4,300,2743,300,2674,300C2605.7,300,2537,300,2469,300C2400,300,2331,300,2263,300C2194.3,300,2126,300,2057,300C1988.6,300,1920,300,1851,300C1782.9,300,1714,300,1646,300C1577.1,300,1509,300,1440,300C1371.4,300,1303,300,1234,300C1165.7,300,1097,300,1029,300C960,300,891,300,823,300C754.3,300,686,300,617,300C548.6,300,480,300,411,300C342.9,300,274,300,206,300C137.1,300,69,300,34,300L0,300Z"></path>
	</svg>); */
	background-image: url(/img/findUs-wave.svg);
	background-attachment: scroll;
	background-size: cover;
	background-origin: border-box;
	min-width: 100%;
	min-height: 200px;
	padding: 10px;
	padding-bottom: 15px;
}

.findUsCopy{
	padding: 15px;
	line-height: 1.5rem;

}

.testimonials{
	/* <svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 400" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(237, 69, 100, 1)" offset="0%"></stop><stop stop-color="rgba(237, 69, 100, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,80L21.8,93.3C43.6,107,87,133,131,166.7C174.5,200,218,240,262,226.7C305.5,213,349,147,393,133.3C436.4,120,480,160,524,146.7C567.3,133,611,67,655,60C698.2,53,742,107,785,120C829.1,133,873,107,916,113.3C960,120,1004,160,1047,200C1090.9,240,1135,280,1178,253.3C1221.8,227,1265,133,1309,140C1352.7,147,1396,253,1440,286.7C1483.6,320,1527,280,1571,220C1614.5,160,1658,80,1702,100C1745.5,120,1789,240,1833,246.7C1876.4,253,1920,147,1964,106.7C2007.3,67,2051,93,2095,106.7C2138.2,120,2182,120,2225,106.7C2269.1,93,2313,67,2356,93.3C2400,120,2444,200,2487,253.3C2530.9,307,2575,333,2618,333.3C2661.8,333,2705,307,2749,293.3C2792.7,280,2836,280,2880,293.3C2923.6,307,2967,333,3011,293.3C3054.5,253,3098,147,3120,93.3L3141.8,40L3141.8,400L3120,400C3098.2,400,3055,400,3011,400C2967.3,400,2924,400,2880,400C2836.4,400,2793,400,2749,400C2705.5,400,2662,400,2618,400C2574.5,400,2531,400,2487,400C2443.6,400,2400,400,2356,400C2312.7,400,2269,400,2225,400C2181.8,400,2138,400,2095,400C2050.9,400,2007,400,1964,400C1920,400,1876,400,1833,400C1789.1,400,1745,400,1702,400C1658.2,400,1615,400,1571,400C1527.3,400,1484,400,1440,400C1396.4,400,1353,400,1309,400C1265.5,400,1222,400,1178,400C1134.5,400,1091,400,1047,400C1003.6,400,960,400,916,400C872.7,400,829,400,785,400C741.8,400,698,400,655,400C610.9,400,567,400,524,400C480,400,436,400,393,400C349.1,400,305,400,262,400C218.2,400,175,400,131,400C87.3,400,44,400,22,400L0,400Z"></path></svg> */
	background-image: url(/img/testimonials-wave.svg);
	background-attachment: scroll;
	background-size: cover;
	background-origin: border-box;
	min-width: 100%;
	min-height: 200px;
	padding: 10px;
	padding-bottom: 15px;

}
.testimonialsCopy{
	padding: 15px;
	line-height: 1.5rem;

}
.contactHub{

	/* <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 400" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(82, 178, 219, 1)" offset="0%"></stop><stop stop-color="rgba(237, 69, 100, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,80L60,93.3C120,107,240,133,360,166.7C480,200,600,240,720,226.7C840,213,960,147,1080,133.3C1200,120,1320,160,1440,146.7C1560,133,1680,67,1800,60C1920,53,2040,107,2160,120C2280,133,2400,107,2520,113.3C2640,120,2760,160,2880,200C3000,240,3120,280,3240,253.3C3360,227,3480,133,3600,140C3720,147,3840,253,3960,286.7C4080,320,4200,280,4320,220C4440,160,4560,80,4680,100C4800,120,4920,240,5040,246.7C5160,253,5280,147,5400,106.7C5520,67,5640,93,5760,106.7C5880,120,6000,120,6120,106.7C6240,93,6360,67,6480,93.3C6600,120,6720,200,6840,253.3C6960,307,7080,333,7200,333.3C7320,333,7440,307,7560,293.3C7680,280,7800,280,7920,293.3C8040,307,8160,333,8280,293.3C8400,253,8520,147,8580,93.3L8640,40L8640,400L8580,400C8520,400,8400,400,8280,400C8160,400,8040,400,7920,400C7800,400,7680,400,7560,400C7440,400,7320,400,7200,400C7080,400,6960,400,6840,400C6720,400,6600,400,6480,400C6360,400,6240,400,6120,400C6000,400,5880,400,5760,400C5640,400,5520,400,5400,400C5280,400,5160,400,5040,400C4920,400,4800,400,4680,400C4560,400,4440,400,4320,400C4200,400,4080,400,3960,400C3840,400,3720,400,3600,400C3480,400,3360,400,3240,400C3120,400,3000,400,2880,400C2760,400,2640,400,2520,400C2400,400,2280,400,2160,400C2040,400,1920,400,1800,400C1680,400,1560,400,1440,400C1320,400,1200,400,1080,400C960,400,840,400,720,400C600,400,480,400,360,400C240,400,120,400,60,400L0,400Z"></path></svg> */
	background-image: url(/img/contactHub-wave.svg);
	background-attachment: scroll;
	background-size: cover;
	background-origin: border-box;
	min-width: 100%;
	min-height: 200px;
	padding: 10px;
	padding-bottom: 15px;

}
.contactHubCopy{
	padding: 15px;
	line-height: 1.5rem;

}

.mapEmbed{
	padding: 0;
	margin: auto;
	text-align: center;
}

.categories{
	/* <svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 310" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(255, 255, 0, 1)" offset="0%"></stop><stop stop-color="rgba(82, 178, 219, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,124L24,124C48,124,96,124,144,149.8C192,176,240,227,288,217C336,207,384,134,432,98.2C480,62,528,62,576,67.2C624,72,672,83,720,108.5C768,134,816,176,864,191.2C912,207,960,196,1008,196.3C1056,196,1104,207,1152,222.2C1200,238,1248,258,1296,263.5C1344,269,1392,258,1440,253.2C1488,248,1536,248,1584,206.7C1632,165,1680,83,1728,41.3C1776,0,1824,0,1872,46.5C1920,93,1968,186,2016,196.3C2064,207,2112,134,2160,134.3C2208,134,2256,207,2304,196.3C2352,186,2400,93,2448,62C2496,31,2544,62,2592,87.8C2640,114,2688,134,2736,129.2C2784,124,2832,93,2880,87.8C2928,83,2976,103,3024,118.8C3072,134,3120,145,3168,124C3216,103,3264,52,3312,67.2C3360,83,3408,165,3432,206.7L3456,248L3456,310L3432,310C3408,310,3360,310,3312,310C3264,310,3216,310,3168,310C3120,310,3072,310,3024,310C2976,310,2928,310,2880,310C2832,310,2784,310,2736,310C2688,310,2640,310,2592,310C2544,310,2496,310,2448,310C2400,310,2352,310,2304,310C2256,310,2208,310,2160,310C2112,310,2064,310,2016,310C1968,310,1920,310,1872,310C1824,310,1776,310,1728,310C1680,310,1632,310,1584,310C1536,310,1488,310,1440,310C1392,310,1344,310,1296,310C1248,310,1200,310,1152,310C1104,310,1056,310,1008,310C960,310,912,310,864,310C816,310,768,310,720,310C672,310,624,310,576,310C528,310,480,310,432,310C384,310,336,310,288,310C240,310,192,310,144,310C96,310,48,310,24,310L0,310Z"></path><defs><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(255, 255, 0, 1)" offset="0%"></stop><stop stop-color="rgba(237, 69, 100, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)" d="M0,217L24,217C48,217,96,217,144,191.2C192,165,240,114,288,87.8C336,62,384,62,432,72.3C480,83,528,103,576,98.2C624,93,672,62,720,82.7C768,103,816,176,864,217C912,258,960,269,1008,227.3C1056,186,1104,93,1152,82.7C1200,72,1248,145,1296,175.7C1344,207,1392,196,1440,160.2C1488,124,1536,62,1584,46.5C1632,31,1680,62,1728,108.5C1776,155,1824,217,1872,211.8C1920,207,1968,134,2016,87.8C2064,41,2112,21,2160,15.5C2208,10,2256,21,2304,41.3C2352,62,2400,93,2448,134.3C2496,176,2544,227,2592,217C2640,207,2688,134,2736,87.8C2784,41,2832,21,2880,25.8C2928,31,2976,62,3024,72.3C3072,83,3120,72,3168,93C3216,114,3264,165,3312,175.7C3360,186,3408,155,3432,139.5L3456,124L3456,310L3432,310C3408,310,3360,310,3312,310C3264,310,3216,310,3168,310C3120,310,3072,310,3024,310C2976,310,2928,310,2880,310C2832,310,2784,310,2736,310C2688,310,2640,310,2592,310C2544,310,2496,310,2448,310C2400,310,2352,310,2304,310C2256,310,2208,310,2160,310C2112,310,2064,310,2016,310C1968,310,1920,310,1872,310C1824,310,1776,310,1728,310C1680,310,1632,310,1584,310C1536,310,1488,310,1440,310C1392,310,1344,310,1296,310C1248,310,1200,310,1152,310C1104,310,1056,310,1008,310C960,310,912,310,864,310C816,310,768,310,720,310C672,310,624,310,576,310C528,310,480,310,432,310C384,310,336,310,288,310C240,310,192,310,144,310C96,310,48,310,24,310L0,310Z"></path></svg> */
	background-image: url(/img/cookies_category-wave.svg);
	background-attachment: scroll;
	background-size: cover;
	background-origin: border-box;
	min-width: 100%;
	min-height: 200px;
	padding: 10px;
	padding-bottom: 15px;

}

.categoriesCopy{
	padding: 15px;
	line-height: 1.5rem;
}
}

@media screen and (min-width: 500px) {
	
}

@media screen and (min-width: 767.8px) and (max-width: 1279.8px) {
	
}

@media screen and (min-width: 1280px) and (max-width: 1440px){
	
}