@charset "utf-8";
/* CSS Document */

/*PALETTE 1
RED-PRIME: #e30022
		rgba(227,0,34,1)
BLUE-PRIME: #03012C
		rgba(3,1,44,1)
GOLD-PRIME: #FFBF00
		rgba(255,191,0,1)
WHITE-PRIME: #FFFFFC
        rgba(255,255,252,1) 
		
		
*/
/*PALETTE 2
RED-PRIME/"RED PIGMENT": #FF0A2B
		rgba(255,10,43,1)
BLUE-PRIME/"SPANISH BLUE": #016FB9
		rgba(1,111,185,1)
YELLOW-PRIME/"MIDDLE YELLOW": #FFE900
		rgba(255,233,0,1)
WHITE-PRIME/"BABY POWDER": #FCFFF7
        rgba(252,255,247,1) 
DARK-BROWN/"RAISIN BLACK": #201817
		rgba(32,24,23,1)
TAUPE/"BONE": #E8DAC4
		rgba(232,218,196,1)
LIGHT-BROWN/"SHADOW": #82735C
		rgba(130,115,92,1)
SILVER/"CULTURED": #EAEBED
		rgba(234,235,237,1)				
*/

/*
PALETTE 3
PINK:	#ed4564
		0,71,58,7,100
		237,69,100
		
YELLOW:	#ffff00
		0,0,100,0
		237,237,0

BLUE:   #52b2db
		63,19,0,14,100
		82,178,219

BROWN:	#261605
		0,42,87,85,100
		38,22,5

*/
*{
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	margin: 0;
	padding: 0;
	
}
body{
	background-color: #ffff00;
    /* background-color: rgba(130,115,92,1); */
/*	background-image: url("../img/dark-honeycomb.png");*/
	/* background-image: url("../img/light_grey.png"); */
    /* background-image: url(../img/merely_cubed.png); */
    /* background-image: url(../img/vaio_hard_edge.png); */
    /* background-image: url(../img/diagonal_striped_brick.png); */
    /* background-image: url(../img/diagonal_waves.png); */
    /* background-image: url(../img/kindajean.png);
	background-repeat: repeat; */
/*	background-color: rgba(216,180,160,.45);*/
/*  background-color: rgba(239,241,243,.2);WHITE: #EFF1F3*/
	/* background-blend-mode:overlay; */
}
h1, h2, h3, h4, h5, h6{

	color: #261605;
	/* text-shadow:
	 -1px -1px 0 #ed4564,  
	  1px -1px 0 #ed4564,
	  -1px 1px 0 #ed4564,
	   1px 1px 0 #ed4564; */
	margin-bottom: -5px;
	text-align: left;
}
/*
hr.divider{
	margin: 0px 0px 25px 0px;
	border-top: inset 5px #AA7BC3;
	border-bottom: outset 1px #C7EF00;
}
*/

.slash-2 {
  height: 3px;
  color: #ed4564;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3px'  height='3px'  viewBox='0 0 3 3'  fill='%23AA7BC3'%3E %3Cpolygon points='0 0.5 0 1.5 1.5 3 2.5 3'/%3E%3Cpolygon points='2.5 0 1.5 0 3 1.5 3 0.5'/%3E%3C/svg%3E");
  background-size: 8px 6px;
  width: 100%;
}
.grid-container-home-cat{
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: auto auto;
	grid-gap: 25px;
	justify-items: center;
	margin: 30px 0px;

}

.grid-container-home-cat-item{
    background-color: rgba(255,233,0,.8);
    height: 190px;
    width: 190px;
}

.cat-text{
    background-color: #201817;
    color: #fcfff7;
    font-weight: bolder;
    font-size: 18px;
    line-height: 25px;
    padding: 5px;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5%;
    border: 1px solid #fff;
    width: 140px;
    text-align: center;
}
.grid-container-icons{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 2px;
	margin: 20px 0px;
}
.grid-container-icons-item{
	background-color: rgba(255,233,0,.2);
	border-radius: 15%;
}

.grid-container-purchase{
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto;
	grid-gap: 20px;
	justify-items: center;
	margin: 20px 0px;

}
.grid-container-purchase-item{
/*
	background-color: rgba(199,239,0,.2);
	border-radius: 15%;
*/
}
.container {
	width: 100%;
/*
	padding-right: 15px;
	padding-left: 15px;
*/
	margin-right: auto;
	margin-left: auto;
/*
	max-width: 1300px;
	overflow: hidden;
*/
}
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
/*
	margin-right: -15px;
	margin-left: -15px;
*/
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	
}

.iconRow{
	display: flex;
	justify-content: space-evenly;
}
.pricingRow{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 30px;
	padding: 20px;
}
.flex-container{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 50px;
	justify-content: space-around;
	align-items: center;
/*
	justify-content: flex-start;
	align-items: center;
*/
	
}
.navigation{
	background-color: #52b2db; 
	color: #261605;
	text-align: center;
	margin-bottom: 15px;
}

.navigation h1{
	color:#FFFFFC;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
.copyRightfooter{
	background-color: #261605;
	color: #FFFFFC;
	text-align: center;
	padding: 20px;
}

.heroImg{
	margin-bottom: 15px;
}

.productTitle{
	color: #52b2db;
}
.flavorsTitle{
	color: #52b2db;
	text-align: center;
}
.price{
/*	background-color: #EFF1F3;*/
	background-color: #261605;
/*	color: #d00000;*/
	color: #FFFFFC;
	font-weight: bolder;
	font-size: 35px;
	line-height: 25px;
	padding: 10px;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 5%;
	border: 1px solid #fff;

}
/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: 35px;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
/*	margin: 15px 30px;*/
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
		
	line-height: 25px;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.qtyBtn{
	background-color: rgba(255,233,0,1);
	color: #fcfff7;
	border-radius: 5%;
	border: 1px solid #fff;
	padding: 10px;
	font-size: 35px;
	line-height: 25px;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
/*
	width: 50px;
	height: 50px;
*/
}
.quantBuyBtn{
	background-color: #016fb9;
	color: #fff;
	border-radius: 5%;
	border: 1px dashed #fff;
/*
	padding: 15px;
	margin-right: 20px;
*/
	font-size: 35px;
	line-height: 25px;
	box-shadow: 
		0 8px 8px 0 rgba(0,0,0,0.4), 
		0 6px 20px 0 rgba(0,0,0,0.19), 
		0px -4px 4px 3px rgba(255,255,255,.4) inset;
	width: 50px;
	height: 50px;
}
/* Button 2 */
.btn-2 {
	background: rgba(81,152,114,.7);
	color: #fff;
	box-shadow: 0 4px rgba(81,152,114,1);
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
/* Button 2j */
.btn-2j {
	border-radius: 5%;
	width: 45px;
	height: 45px;
	padding: 0;
	border: 1px solid #fff;
}

.btn-2j:hover {
	box-shadow: 0 8px rgba(81,152,114,1);
	top: -2px;
}

.btn-2j:active {
	box-shadow: 0 0 rgba(81,152,114,1);
	top: 6px;
}

.iconImg{
	height: 60px;
	width: 60px;
	padding: 10px;
	margin-left: 5px;
	margin-top: 5px;
}

.productDescription{
	margin-bottom: 15px;
	padding: 20px;
}

.ingredients{
	margin-bottom: 15px;
	padding: 20px;
}

.ingredients ul{
	padding-left: 25px;
}
.ingredients ul li{
	list-style: square;
}
.disclaimer{
	margin-bottom: 15px;
	padding: 20px;
}

.logo{
	margin: auto;
	width: 50%;
	height: 50%;
	padding: 15px 0;
}


.findUs{
	/* background-image: url(<svg id="wave" style="transform:rotate(0deg); transition: 0.3s" viewBox="0 0 1440 300" version="1.1" xmlns="http://www.w3.org/2000/svg">
	<defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(82, 178, 219, 1)" offset="0%"></stop><stop stop-color="rgba(255, 255, 255, 1)" offset="100%"></stop>
	</linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,210L34.3,185C68.6,160,137,110,206,100C274.3,90,343,120,411,135C480,150,549,150,617,135C685.7,120,754,90,823,95C891.4,100,960,140,1029,155C1097.1,170,1166,160,1234,135C1302.9,110,1371,70,1440,90C1508.6,110,1577,190,1646,210C1714.3,230,1783,190,1851,190C1920,190,1989,230,2057,215C2125.7,200,2194,130,2263,100C2331.4,70,2400,80,2469,95C2537.1,110,2606,130,2674,150C2742.9,170,2811,190,2880,175C2948.6,160,3017,110,3086,95C3154.3,80,3223,100,3291,120C3360,140,3429,160,3497,185C3565.7,210,3634,240,3703,230C3771.4,220,3840,170,3909,165C3977.1,160,4046,200,4114,180C4182.9,160,4251,80,4320,45C4388.6,10,4457,20,4526,25C4594.3,30,4663,30,4731,35C4800,40,4869,50,4903,55L4937.1,60L4937.1,300L4902.9,300C4868.6,300,4800,300,4731,300C4662.9,300,4594,300,4526,300C4457.1,300,4389,300,4320,300C4251.4,300,4183,300,4114,300C4045.7,300,3977,300,3909,300C3840,300,3771,300,3703,300C3634.3,300,3566,300,3497,300C3428.6,300,3360,300,3291,300C3222.9,300,3154,300,3086,300C3017.1,300,2949,300,2880,300C2811.4,300,2743,300,2674,300C2605.7,300,2537,300,2469,300C2400,300,2331,300,2263,300C2194.3,300,2126,300,2057,300C1988.6,300,1920,300,1851,300C1782.9,300,1714,300,1646,300C1577.1,300,1509,300,1440,300C1371.4,300,1303,300,1234,300C1165.7,300,1097,300,1029,300C960,300,891,300,823,300C754.3,300,686,300,617,300C548.6,300,480,300,411,300C342.9,300,274,300,206,300C137.1,300,69,300,34,300L0,300Z"></path>
	<defs><linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(237, 69, 100, 1)" offset="0%"></stop>
	<stop stop-color="rgba(237, 69, 100, 1)" offset="100%"></stop></linearGradient></defs>
	<path style="transform:translate(0, 50px); opacity:0.9" fill="url(#sw-gradient-1)" d="M0,180L34.3,165C68.6,150,137,120,206,125C274.3,130,343,170,411,160C480,150,549,90,617,75C685.7,60,754,90,823,90C891.4,90,960,60,1029,60C1097.1,60,1166,90,1234,100C1302.9,110,1371,100,1440,80C1508.6,60,1577,30,1646,60C1714.3,90,1783,180,1851,205C1920,230,1989,190,2057,155C2125.7,120,2194,90,2263,75C2331.4,60,2400,60,2469,95C2537.1,130,2606,200,2674,220C2742.9,240,2811,210,2880,165C2948.6,120,3017,60,3086,50C3154.3,40,3223,80,3291,125C3360,170,3429,220,3497,240C3565.7,260,3634,250,3703,215C3771.4,180,3840,120,3909,80C3977.1,40,4046,20,4114,45C4182.9,70,4251,140,4320,145C4388.6,150,4457,90,4526,95C4594.3,100,4663,170,4731,190C4800,210,4869,180,4903,165L4937.1,150L4937.1,300L4902.9,300C4868.6,300,4800,300,4731,300C4662.9,300,4594,300,4526,300C4457.1,300,4389,300,4320,300C4251.4,300,4183,300,4114,300C4045.7,300,3977,300,3909,300C3840,300,3771,300,3703,300C3634.3,300,3566,300,3497,300C3428.6,300,3360,300,3291,300C3222.9,300,3154,300,3086,300C3017.1,300,2949,300,2880,300C2811.4,300,2743,300,2674,300C2605.7,300,2537,300,2469,300C2400,300,2331,300,2263,300C2194.3,300,2126,300,2057,300C1988.6,300,1920,300,1851,300C1782.9,300,1714,300,1646,300C1577.1,300,1509,300,1440,300C1371.4,300,1303,300,1234,300C1165.7,300,1097,300,1029,300C960,300,891,300,823,300C754.3,300,686,300,617,300C548.6,300,480,300,411,300C342.9,300,274,300,206,300C137.1,300,69,300,34,300L0,300Z"></path>
	<defs><linearGradient id="sw-gradient-2" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(255, 255, 0, 1)" offset="0%"></stop><stop stop-color="rgba(255, 255, 255, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 100px); opacity:0.8" fill="url(#sw-gradient-2)" d="M0,240L34.3,200C68.6,160,137,80,206,55C274.3,30,343,60,411,65C480,70,549,50,617,80C685.7,110,754,190,823,230C891.4,270,960,270,1029,235C1097.1,200,1166,130,1234,85C1302.9,40,1371,20,1440,10C1508.6,0,1577,0,1646,40C1714.3,80,1783,160,1851,205C1920,250,1989,260,2057,235C2125.7,210,2194,150,2263,110C2331.4,70,2400,50,2469,40C2537.1,30,2606,30,2674,40C2742.9,50,2811,70,2880,100C2948.6,130,3017,170,3086,200C3154.3,230,3223,250,3291,230C3360,210,3429,150,3497,105C3565.7,60,3634,30,3703,55C3771.4,80,3840,160,3909,175C3977.1,190,4046,140,4114,140C4182.9,140,4251,190,4320,180C4388.6,170,4457,100,4526,95C4594.3,90,4663,150,4731,155C4800,160,4869,110,4903,85L4937.1,60L4937.1,300L4902.9,300C4868.6,300,4800,300,4731,300C4662.9,300,4594,300,4526,300C4457.1,300,4389,300,4320,300C4251.4,300,4183,300,4114,300C4045.7,300,3977,300,3909,300C3840,300,3771,300,3703,300C3634.3,300,3566,300,3497,300C3428.6,300,3360,300,3291,300C3222.9,300,3154,300,3086,300C3017.1,300,2949,300,2880,300C2811.4,300,2743,300,2674,300C2605.7,300,2537,300,2469,300C2400,300,2331,300,2263,300C2194.3,300,2126,300,2057,300C1988.6,300,1920,300,1851,300C1782.9,300,1714,300,1646,300C1577.1,300,1509,300,1440,300C1371.4,300,1303,300,1234,300C1165.7,300,1097,300,1029,300C960,300,891,300,823,300C754.3,300,686,300,617,300C548.6,300,480,300,411,300C342.9,300,274,300,206,300C137.1,300,69,300,34,300L0,300Z"></path>
	</svg>); */
	background-image: url(/img/findUs-wave.svg);
	background-attachment: scroll;
	background-size: cover;
	background-origin: border-box;
}