/* CSS Document */


/* BASE STYLES (MOBILE) */

/*GREEN > "Phthalo Green" > #1A3313 > 'DARK, BACKGROUND OR TEXT'*/
/*DARK GREEN > "SMOKY BLACK" > #080E06 > 'FOOTER'*/
/*RED > "Crimson" > #DB162F > 'BOLD, LINKS/NAV OR TITLES'*/
/*LIGHT GREEN/YELLOW > "PALE GOLDENROD" > #DBDFAC > 'LIGHT, SECONDARY BACKGROUNDS OR TITLES'*/
/*OFF-WHITE > "ANTI-FLASH WHITE" > #F0F2F4 > 'LIGHT, TITLES, TEXT'*/
/*PURPLE > "DEEP KOAMARU" > #383961 > 'DARK, STROKE, OUTLINE, VISITED LINKS'*/
/*GRAY > "SILVER" > #C0C7BE > 'FOOTER TEXT'*/

/* TESTING STYLES */
/**{border: 1px red dashed;}*/


body {
	
	color: #1A3313;
	background-color: #F0F2F4;
	font-size: 16px;
	font-kerning: normal;
	display: grid;
/*	min-height: 99vh;*/

}


h1, h2, h3 {
	color: #DB162F;
	padding: 5px;
	
}

h1{
	
	font-size: 2em;
	font-weight: bold;
}

h2{font-size: 1.5em;}
h3{font-size: 1.25em;}

p{padding: 10px;}

.main-header{
	text-align: center; 
	margin: 0;
}

.main-footer{
	background-color: #1A3313;
	color: #C0C7BE;
	display: flex;
	bottom: 53px;
	position: sticky;
	width:auto;
	height: 125px;
	
}

a:link{
	color: #DB162F;
	text-decoration: underline;
	text-decoration-style: double;
	font-weight: bold;
	
}

a:visited{
	color: #383961;
	text-decoration-style: solid;
	font-weight: lighter;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;

}



.nav-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-content: space-between;
	z-index: 999;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width: auto;
	min-height: 1vh;
	
}
.nav-container ul li {
	list-style: none;
	display: inline;
	flex-grow: 1;

}

.nav-container li a{
	padding: 10px;
	text-decoration: none;
	font-size: 1.15em;
	color: #DB162F;
	font-weight: 900;
}


#primary-menu-link{
	color: #080E06;
	
}


.sub-header{width: 100%;margin:0;padding:0;height:25px;}
.yellow-box{background-color:#DBDFAC; }


/*MEDIA QUERIES*/

#bolder-damnit{
/*	INTERESTING STROKE FOR HIGHER RESOLUTIONS*/
	text-shadow:    
		-.4px -.4px 0 #080E06,.4px -.4px 0 #080E06,-.4px .4px 0 #080E06,.4px .4px 0 #080E06 !important;

}
